{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2">
                {% include('nav-left.html.twig') %}
            </div>
            <div class="col-lg-10">
                <div id="calendar">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script>
        window.onload = () => {
            let calendarEl = document.querySelector("#calendar")

            let calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev, next today',
                    center: 'title',
                    end: 'dayGridMonth, timeGridWeek'
                },
                buttonText:{
                    today: 'Aujourd\'hui',
                    month: 'Mois',
                    week: 'Semaine',
                    list: 'Liste',
                },
                events: {{ data|raw }},
                editable: true,
                eventResizableFromStart: true
            })

            calendar.on('eventChange', (e) =>{
                let url = `api/${e.event.id}/edit`
                let donnees = {
                    "title": e.event.title,
                    "description": e.event.extendedProps.description,
                    "start": e.event.start,
                    "end": e.event.end,
                    "backgroundColor": e.event.backgroundColor,
                    "textColor": e.event.textColor,
                    "allDay": e.event.allDay

                }
                console.log(url);
                $.ajax({
                    url:url,
                    type: 'POST',
                    data:donnees,
                //    cache:false,
                    success: function (response){
                        console.log(response);
                        // console.log(JSON.parse(response))
                    },
                    error: function (err) {
                        console.error(err);
                    }
                });

            })
            calendar.render();
        }
    </script>

{% endblock %}