{% extends 'base.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
    <div class="container-fluid new-calendar">
        <div class="row">
            <div class="col-lg-2">
                {% include('nav-left.html.twig') %}
            </div>
            <div class="col-lg-10">
                <h1>Créer un nouvel évènement</h1>
                <a href="{{ path('event_index') }}">Les évènements</a>
                {{ include('event/_form.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}
