{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <div class="container login forgottenpass">
        <div class="row">
            <div class="col-lg-4"></div>

            <div class="col-lg-4">
                <h3>Mot de passe oublié</h3>
                <p>Veuillez renseigner votre adresse e-mail afin de recevoir votre nouveau mot de passe. </p>
                {{ form(emailForm) }}
            </div>

            <div class="col-lg-4"></div>
        </div>
    </div>

{% endblock %}
