*{
    color: #374955;
}

.btn-secondary{
    background-color: darkorange !important;
    border: none !important;
}

.btn-dark{
    background-color: #374955 !important;
    border: none !important;
}

.form-control:focus {
    border-color: darkorange!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

#calendar{
    margin:40px 40px 40px 0;
}

/******* HEADER *********/
nav{
    padding: 30px 0 !important;
}

.navbar-brand img{
    width: 70%;
}


/********** HOME ***********/

.img-home img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: top;
}

.img-home h2{
    position: absolute;
    top:200px;
    left: 50px;
    color: #fff;
    font-size: 3em;
}


 /********** FOOOTER *********/
footer ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

footer ul li{
    list-style: none;
    margin-right: 20px;
}

footer a{
    color: #374955;

}

footer a:hover{
    text-decoration: none;
    color: #374955;
    opacity: 0.7;
}

footer .author{
    color: darkorange;
}


/********* LOGIN ***********/

.login{
    margin: 100px;
}

.login h3{
    text-align: center;
}

.login button{
    width: 100%;
    margin-top: 25px;
}

.login div {
    text-align: center;
    margin-top: 10px;
}

.login div a{
    color: #374955;
}

.login a:hover{
    text-decoration: none;
    color: #374955;
    opacity: 0.7;
}
/************* REGISTER *********/

/********* LOGIN ***********/

.register{
    margin: 100px;
}

.register h3{
    text-align: center;
}

.register button{
    width: 100%;
    margin-top: 25px;
}
.register input{
    margin-top: 25px;
}

.register .agree{
    margin-top: 20px            ;
}
.register .agree div{
    display: flex;
    flex-direction: row-reverse;
}

.register #registration_form_agreeTerms{
    margin-top: 5px;
    margin-right: 10px;
}

/********* FORGOTTEN PASSWORD *********/

.forgottenpass h3{
    margin-bottom: 30px;
}

/************** NAV-LEFT ***********/
.nav-left{
    background: #374955;
    height: 100%;
}

.nav-left ul{
    display: block;
    margin:0 auto;
    padding: 0;
    text-align: center;
}

.nav-left ul li{
    list-style-type: none;
    margin-bottom: 40px;
}

.nav-left ul li a{
    color: #fff;
    margin: 0;
    padding: 0;
}

.nav-left ul li a:hover{
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}


.nav-left .fas, .nav-left .fab{
    font-size: 2em;
    margin-bottom: 5px;
    color: #fff;
}

/********* CONTACT SEARCH *********/
.search-form{
    display: flex;
}

.search-form form{
    display: flex;
    margin-right: 40px;
}

.search-form form div{
    display: flex;
}


/********* CONTACT INDEX **/

.index-contacts h4{
    margin: 30px 0;
}

.add-contact{
    margin-right: 50px;
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.contacts .avatar{
    margin-bottom: 30px;
}

.contact{
    display: flex;
    padding: 15px;
    margin:0 15px 15px 0;
    border: 1px solid #374955;
    border-radius: 10px;
}

.contacts img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.contacts ul{
    margin: 0;
    padding: 0;
}

.contacts ul li{
    list-style-type: none;
}

.contacts-details-right{
    display: flex;
    flex-direction: column;
}

.button-flex{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.button-flex .fas{
    font-size:1.5em;
    margin-bottom: 5px;
    margin-right: 10px;
    color: #374955;
    opacity: 0.6;
}

.contact-details ul li{
    font-weight: bold;
}

/************** CONTACT SHOW ***********/

.contact-show h4{
    margin: 30px 0;
}

#contact h1{
    margin-bottom: 60px;
}

.details-contact{
    display: flex;
    margin: 40px 0;
}

#contact ul{
    margin:0;
    padding: 0;
}

.contact-show ul li{
    list-style-type: none;
    font-size: 1.2em;
}

#contact img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-right: 50px;
}

/********** EDIT CONTACT **********/

.add-contact form{
    width: 50%;
}

.add-contact h4{
    margin: 40px 0;
}

/*********** PROFIL ****************/

.profil h4{
    margin: 40px 0;
}

.profil ul{
    margin:0;
    padding: 0;
}

.profil ul li{
    list-style-type: none;
}

.profil a{
    color: #374955;
}

.profil a:hover{
    color: #374955;
    opacity: 0.7;
    text-decoration: none;
}


/******* ADMIN ***********/

.admin h4{
    margin: 40px 0;
}

.admin td{
    padding-right: 50px;
    padding-bottom: 8px;
}

.admin th{
    padding-bottom: 25px;
}

.user-admin h4{
    margin: 40px 0;
}

.user-admin form{
    width: 50%;
}

.user-admin form input{
    margin-bottom: 20px;
}

/********** CHANGE PASSWORD *************/
.change-pass h4{
    margin: 40px 0;
}

.change-pass form{
    width: 50%;
}

.change-pass form button{
    margin-top: 20px;
}

/************ CHANGE USER ******/

.change-user h4{
    margin: 40px 0;
}

.change-user form{
    width: 50%;
}

.change-user input{
    margin-bottom: 20px;
}


/************* EVENTS *********/
.events h4{
    margin: 40px 0;
}
.events a .fas{
    font-size: 1.5em;
    color: darkorange;
    margin-right: 5px;
}

/********* EDIT CALENDAR ******/
.show-event h4{
    margin: 40px 0;
}
.show-btn{
    display: flex;
}

.show-btn a{
    margin-right: 20px;
}
.invite{
    margin: 40px 0;
}

.invite form{
    width: 45%;
}

.invite form input{
    margin-bottom: 20px;
}

.show-event table{
    margin-top: 30px;
}

/********** EDIT EVENT ***********/
#edit-event h4{
    margin: 40px 0;
}

#edit-event form{
    width: 50%;
}

#edit-event button{
    float: left;
    margin-right: 20px;
}

#edit-event .edit-event{
    margin-bottom: 50px;
}
/************** CREATE EVENT ************/
.new-calendar{
    margin-bottom: 40px;
}

.new-calendar h4{
    margin: 40px 0;
}

.new-calendar form{
    width: 50%;
}


/************ DACHBOARD ************/

.dashboard h4{
    margin:40px 0;
}

.dashboard ul li{
    list-style-type: none;
}

.dashboard ul li a{
    color: orangered;
    font-weight: bold;
}

.dashboard ul li a:hover{
    text-decoration: none;
    opacity: 0.7;
}

