{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-2">
                {% include('nav-left.html.twig') %}
            </div>

            <div class="col-lg-10 change-user">
                <h4>Modification du compte</h4>
                <div class="edit-profil">
                    {{ form(formProfil) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
