{% extends'base.html.twig' %}

    {% form_theme formContact 'bootstrap_4_layout.html.twig' %}
    {% block title %}Contact{% endblock %}

{% block body %}
    <div class="container-fluid add-contact">
        <div class="row">

            <div class="col-lg-2 col-md-2 col-sm-12">
                {% include('nav-left.html.twig') %}
            </div>

            <div class="col-lg-10 col-md-10 col-sm-12">

                {# Modify or create contact#}
                {% if editMode %}
                    <h4> Modifier le contact</h4>
                {% else %}
                    <h4>Création d'un contact</h4>
                {% endif %}

                {#Forms #}
                {{ form_start(formContact) }}
                {{ form_widget(formContact) }}

                {#Buttons#}
                <button type="submit" class="btn btn-secondary">
                    {% if editMode %}
                        Enregistrer
                    {% else %}
                        Ajouter
                    {% endif %}
                </button>

                {{ form_end(formContact) }}
            </div>
        </div>
    </div>

{% endblock %}